body
{
   width: 1000px;
   margin : auto; /* centre la page */
   margin-top: 20px; /* Pour éviter de coller avec le haut de la fenêtre du navigateur. */
   margin-bottom: 20px;    /* Idem pour le bas du navigateur */
   background-repeat : repeat-x;
   background : #c6c6c6;
   background-attachment : scroll;
}

#container {
	background-color : #ffffff;
	border-width: 1px; 
	border-style: solid; 
	border-color: #000000; 
	margin-top:20px;
	margin-bottom:20px;
	width : 600px;
	float: left;
}

#container_cor {
	background-color : #ffffff;
	border-width: 1px; 
	border-style: solid; 
	border-color: #000000; 
	margin-top:20px;
	margin-bottom:20px;
	width : 600px;
	float: left;
}

#message_avertissement {
	float: left;
	color: red;
	font-weight: bold;
}

#titre_exos {
	text-align : center;
}

.lien_droite {
    float:right;
}

.exo_date {
    float:right;
}
.exo_selection {
	background-color:lightsteelblue;
	border : 1px solid #1a1056;
	margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    /*Coin arrondi*/
	-moz-border-radius : 5px 5px;			
	-webkit-border-radius: 5px 5px; 
	border-radius: 5px 5px;        
	-webkit-border-top-left-radius: 5px; /* pour Chrome */ 
	-webkit-border-top-right-radius: 5px; /* pour Chrome */
}

table.table_exo {
    border: medium solid #6495ed;
    border-collapse: collapse;
    width: 100%;
}
.table_exo th {
    font-family: monospace;
    border: thin solid #6495ed;
    padding: 10px;
    background-color: #D0E3FA;
}
.table_exo td {
    font-family: sans-serif;
    border: thin solid #6495ed;
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
}
.table_exo caption {
    font-family: sans-serif;
}


.exo_titre_bis {
	font-size : 1.2em;
	font-weight : bold;
}

.exo_enonce {
	text-align: justify;
}

.valider {
	margin: 30px;
	float:right;
}

ul.upload_info {
	border : 1px solid #000000;
	width : 500px;
}

.go {
	float : right;
	margin-right : 10px;
}

.hr_go {
    clear: both;
    visibility: hidden;
}

.fieldset_ajout_exercice input,textarea
{
   font-family:Times, serif; /* On modifie la police du texte tapé l'intérieur des champs */;
}
 
.lab_rdp {
	float : right;
}

.fieldset_ajout_exercice {
	width : 900px;
}

.fieldset_ajout_exercice label
{
	display:block;
	width:160px;
	float:left;
}

fieldset.fieldset_ajout_exercice
{
	border : 0px solid #1a1056;
	padding : 10px;
	font-family : Times,serif;
	
	 /*Coin arrondi*/
	-moz-border-radius : 5px 5px;			
	-webkit-border-radius: 5px 5px; 
	border-radius: 5px 5px;        
	-webkit-border-top-left-radius: 5px; /* pour Chrome */ 
	-webkit-border-top-right-radius: 5px; /* pour Chrome */
}

.fieldset_ajout_exercice legend 	/*Le titre*/
{
	background-color:#a1ccfc;
	border:1px solid black;
	font-family: Arial, "Arial Black", Georgia, "Times New Roman", Times, serif;
	font-size : 1.1em;
	font-weight : bold;
	color : #1a1056;
	
	 /*Coin arrondi*/
	-moz-border-radius : 5px 5px;			
	-webkit-border-radius: 5px 5px; 
	border-radius: 5px 5px;        
	-webkit-border-top-left-radius: 5px; /* pour Chrome */ 
	-webkit-border-top-right-radius: 5px; /* pour Chrome */
}

.fieldset_form_connexion input,textarea
{
   font-family:Times, serif; /* On modifie la police du texte tapé l'intérieur des champs */;
}
 
input:focus,textarea:focus.fieldset_form_connexion  /* Quand le curseur est sur un champ */
{
   background-color : #acb7c9;
} 

.fieldset_form_connexion label
{
	display:block;
	width:135px;
	float:left;
}

.bloc_inscrip
{
	margin-bottom : 2px;
}

fieldset.fieldset_form_connexion
{
	border : 1px solid #1a1056;
	padding : 10px;
	font-family : Times,serif;
	
	 /*Coin arrondi*/
	-moz-border-radius : 5px 5px;			
	-webkit-border-radius: 5px 5px; 
	border-radius: 5px 5px;        
	-webkit-border-top-left-radius: 5px; /* pour Chrome */ 
	-webkit-border-top-right-radius: 5px; /* pour Chrome */
}

.fieldset_form_connexion legend 	/*Le titre*/
{
	background-color:#a1ccfc;
	border:1px solid black;
	font-family: Arial, "Arial Black", Georgia, "Times New Roman", Times, serif;
	font-size : 1.1em;
	font-weight : bold;
	color : #1a1056;
	
	 /*Coin arrondi*/
	-moz-border-radius : 5px 5px;			
	-webkit-border-radius: 5px 5px; 
	border-radius: 5px 5px;        
	-webkit-border-top-left-radius: 5px; /* pour Chrome */ 
	-webkit-border-top-right-radius: 5px; /* pour Chrome */
}

.invisible {
    visibility: hidden;
}



#corps_form_ajout, #corps_modif
{
   border : 1px solid #1a1056;
   margin-bottom: 20px; 
   padding : 15px;
   background-color:lightsteelblue;
   
    /*Coin arrondi*/
	-moz-border-radius : 5px 5px;			
	-webkit-border-radius: 5px 5px; 
	border-radius: 5px 5px;        
	-webkit-border-top-left-radius: 5px; /* pour Chrome */ 
	-webkit-border-top-right-radius: 5px; /* pour Chrome */
}

/****************************************************/
/***Composants relatifs aux matrices dites "input"***/
/****************************************************/

.matrices_input {
	float: left;
	width: 400px;
}

.RDP_prop {
	float: left;
	width: 400px;
}

.control_button {
    background-color: lightsteelblue;
}

.control_button_div {
	float: left;
	width: 99px;
	padding-top: auto;
	text-align:center;
}
.astuces {
	float: right;
	padding: 15px;
	text-align: justify;
	min-height: 100px;
	width: 400px;
	background-color: #119911;
	border:1px solid black;
	visibility:hidden;

    /*Coin arrondi*/
	-moz-border-radius : 5px 5px;			
	-webkit-border-radius: 5px 5px; 
	border-radius: 5px 5px;        
	-webkit-border-top-left-radius: 5px; /* pour Chrome */ 
	-webkit-border-top-right-radius: 5px; /* pour Chrome */
}

#treeCorrection, #tree {
	display: none;
}

/****************************************************/
/*********Composants relatifs aux résultats**********/
/****************************************************/

.matrice_results {
	text-align:center;
}

.matrice_results_1 {
	width: 30px;
	border-width: 1px;
	border-style: solid;
	background-color: lightsteelblue;
}

.matrice_results_2 {
	background-color: white;
}

#results_1 {
	float: left;
	width: 300px;
}
#results_2 {
	float: left;	
	width: 300px;
}
#results_3 {
	float: left;	
	width: 300px;
}
#results_4 {
	float: left;
	width: 300px;
}
#results_5 {
	float: left;
	width: 300px;
}

#arbreDeCouverture {
	float:left;
	width: 1000px;
}
/*****************************************************************/
/*** Composants relatifs à la navigation des pages des exo *******/
/*****************************************************************/

.page_navigation {
	margin: 15px 0;
}

.page_navigation a {
	font-size: 12px;
	cursor: pointer;
	margin: 0 5px;
	color: #333;
}

.page_navigation a:hover {
	background-color: #222;
	color: #fff;
}

.page_navigation a.jp-previous { margin-right: 15px; }
.page_navigation a.jp-next { margin-left: 15px; }

.page_navigation a.jp-current, a.jp-current:hover { 
	color: #FF4242;
	font-weight: bold;
}

.page_navigation a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
}

.page_navigation a.jp-current, a.jp-current:hover,
.page_navigation a.jp-disabled, a.jp-disabled:hover {
	cursor: default; 
	background: none;
}

.page_navigation span { margin: 0 5px; }